# This CI job installs Crystal and shard dependencies, then executes `crystal spec` to run the test suite
# More configuration options are available at https://crystal-lang.github.io/install-crystal/configurator.html

on:
  push:
  pull_request:
    branches: [master]
  schedule:
    - cron: "0 6 * * 6" # Every Saturday 6 AM
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        k8s:
          # - "v1.11"
          # - "v1.12"
          # - "v1.13"
          # - "v1.14"
          # - "v1.15"
          # - "v1.16"
          # - "v1.17"
          # - "v1.18"
          # - "v1.19"
          - "v1.20"
          # - "v1.22"
          # - "v1.23"
        include:
          - os: ubuntu-latest
          - os: ubuntu-latest
            crystal: 1.2.2
          - os: macos-latest
          - os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Deploy k3s cluster
        uses: rinx/setup-k3d@v0.0.2
        with:
          version: ${{ matrix.k8s }}
          # github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Download source
        uses: actions/checkout@v2
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}
      - name: Install shards
        run: shards update --ignore-crystal-version
      - name: Run tests
        run: crystal spec --order=random
      - name: Check formatting
        run: crystal tool format --check
        if: matrix.crystal == null && matrix.os == 'ubuntu-latest'
